body {
	font-family: 'Lato', serif;
  	font-size: 16px;
}
.category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  width: 60%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}


.category:hover {
  transform: scale(1.1, 1);
}

.content{
	display: none;
}

.content p{
  margin-bottom: 0px;
  margin-top: 0px;
}

div.left{
  width: 60%;
  float: left;
  text-align: center;
  font-size: 10px;
  margin: 5px;
}

div.right{
  width: 50%;
  float: right;
  text-align: center;
  font-size: 10px;
  margin: 5px;
}


div.work{
  overflow: auto;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}


table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th{
font-size: 20px;
}

td {
  border: 1px solid black;
}


@media only screen and (max-width: 800px) {
 .category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}
}

@media only screen and (max-width: 600px) {
 .category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3%;
  width: 94%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}
}
