a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.top {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 5px;
  display: none;
}

#about{
    display: inline-block;
}

#grad {
    height: 100%;
    background: linear-gradient(to top, #aec6cf, white) fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

#more{
   display: none;
}

#seemore{
background: rgba(0, 0, 0, 0.0);
  color: black;
  border: 0px solid #444444;
  font-size: 25px;
  outline: none;
  margin: auto;
}

.bottomtext{
width: 100%;
text-align: center;
}


    @media (min-width:0px){
        .clickCard {
          width: 70%;
          height: 50%;
            display: inline-block;
              margin-top: 1.5%;
              margin-right: 3%;
              margin-left: 3%;
        }
    }
    @media (min-width:700px){
        .clickCard {
          width: 40%;
          height: 50%;
            display: inline-block;
              margin-top: 1.5%;
              margin-right: 3%;
              margin-left: 3%;
        }
    }
    @media (min-width:1000px){
        .clickCard {
          width: 25%;
          height: 50%;
            display: inline-block;
              margin-top: 1.5%;
              margin-right: 3%;
              margin-left: 3%;
        }
    }




.hover-shadow:hover{
box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.head{
font-family: arial, sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #aec6cf;
}