body {
	font-family: 'Lato', serif;
  	font-size: 16px;
}
.category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  width: 60%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
  display: inline-block;
}
.center {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  width: 60%;
  padding: 10px;
  vertical-align: top; 
  box-sizing: border-box;
  overflow: auto;
}

.category:hover {
  background-color: #c3ffab;
}

.content{
	display: none;
}

.content p{
  margin-bottom: 0px;
  margin-top: 0px;
}

div.left{
  width: 60%;
  float: left;
  text-align: center;
  font-size: 10px;
  margin: 15px;
}

div.right{
  width: 50%;
  float: right;
  text-align: center;
  font-size: 10px;
  margin: 15px;
}


div.work{
  overflow: auto;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.circle {
  margin: auto;
  border-radius: 50%;
  width: 250px;
}

h1{
 padding: 0px;
 margin: 0px;
 font-size: 60px;
 text-align: center;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th{
font-size: 20px;
}

td {
  border: 1px solid black;
}


@media only screen and (max-width: 800px) {
 .category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}
.center {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  padding: 10px;
  vertical-align: top; 
  box-sizing: border-box;
  overflow: auto;
}
}

@media only screen and (max-width: 600px) {
 .category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3%;
  width: 94%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}
.center {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3%;
  width: 94%;
  padding: 10px;
  vertical-align: top;
  box-sizing: border-box;
  overflow: auto;
}
}


div.gallery {
  margin: 5px;
  border: 3px solid #000;
  float: left;
  width: 180px;
  height: 230px;
}

div.gallery:hover {
  border: 3px solid #fff;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}



.smolcircle {
  border-radius: 50%;
}

.smol{
 margin: auto;
}

