html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

#about {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 5px;
}

#grad {
    height: 100%;
    background: linear-gradient(to top, #aec6cf, white) fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

#more{
   display: none;
}

#seemore{
  background-color: white;
  color: black;
  border: 2px solid #444444;
  outline: none;
}

.bottomtext{
width: 100%;
text-align: center;
}


    @media (min-width:0px){
        .box2 {
          width: 70%;
          height: 50%;
            display: inline-block;
              margin-top: 1.5%;
              margin-right: 3%;
              margin-left: 3%;
        }
    }
    @media (min-width:700px){
        .box2 {
          width: 40%;
          height: 50%;
            display: inline-block;
              margin-top: 1.5%;
              margin-right: 3%;
              margin-left: 3%;
        }
    }
    @media (min-width:1000px){
        .box2 {
          width: 25%;
          height: 50%;
            display: inline-block;
              margin-top: 1.5%;
              margin-right: 3%;
              margin-left: 3%;
        }
    }




.hover-shadow:hover{
box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
