body {
	font-family: 'Lato', serif;
  	font-size: 16px;
}
.category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  width: 60%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}
.center {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  width: 60%;
  padding: 10px;
  vertical-align: top; 
  box-sizing: border-box;
  overflow: auto;
}

.category:hover {
  transform: translate(20px, 0px);
}

.content{
	display: none;
}

.content p{
  margin-bottom: 0px;
  margin-top: 0px;
}

div.left{
  width: 60%;
  float: left;
  text-align: center;
  font-size: 10px;
  margin: 5px;
}

div.right{
  width: 50%;
  float: right;
  text-align: center;
  font-size: 10px;
  margin: 5px;
}


div.work{
  overflow: auto;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.circle {
  border-radius: 50%;
  float: left;
  width: 250px;
}

h1{
 padding: 0px;
 margin: 0px;
 font-size: 100px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th{
font-size: 20px;
}

td {
  border: 1px solid black;
}


@media only screen and (max-width: 800px) {
 .category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}
.center {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  padding: 10px;
  vertical-align: top; 
  box-sizing: border-box;
  overflow: auto;
}
}

@media only screen and (max-width: 600px) {
 .category {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3%;
  width: 94%;
  padding: 10px;
  background-color: #cce7e7;
  box-sizing: border-box;
}
.center {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 3%;
  width: 94%;
  padding: 10px;
  vertical-align: top;
  box-sizing: border-box;
  overflow: auto;
}
}

.icons{
  overflow: auto;
  height: 200px;
}

.icon{
    text-align: center;
  float: left;
  margin: 25px;
  width: 150px;
}

.icon:hover {
  transform: scale(1.2);
}

.smolcircle {
  border-radius: 50%;
  margin: auto;
}

.smol{
 margin: auto;
}
